.btn{
  height: 100px;
  width: 200px;
  border: none;
  margin-right: 5px;
  border-radius: 8px;
  cursor: pointer;
}
.btn1{
  background-color: rgb(255, 53, 53);
}
.btn2{
  background-color: rgb(65, 225, 65);
}
.btn3{
  background-color: rgb(54, 54, 255);
}
.btn4{
  background-color: rgb(255, 172, 17);
}